.background-color{
    height: 100vh;
    background: linear-gradient(
        to bottom,
        purple 0%,
        purple 15%,
        black 85%,
        black 100%

    );
    padding:0;
    margin:0;
}
.background-color2{
    height: auto;
    background: linear-gradient(
        to bottom,
        purple 0%,
        purple 15%,
        black 85%,
        black 100%

    );
    padding:0;
    margin:0;
}
a:link {
    color:yellow;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color:yellow;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
}

p{
    color: white;
    font-family: arial;
    font-size: 19px;
}

h1{
    color: white;
    font-size: .6in;
    margin-top: 10px;
    margin-left: 100px;
    font-family: Arial;
    text-align: center;
}

img{
    width:  80px;
    height: 80px;
}

.two-column {
    float:left; 
    width: 48%;
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 30px 30px; */
}

.top-nav {
    background-color: #207178;
    overflow:hidden;

}

.top-nav a{
    float:left;
    color:white;
    text-align: center;
    padding: 15px 15px;
    font-size: 20px;
    font-family: arial;
}

.top-nav a:hover{
    background-color: #ddd;
    color:black;
}

.top-nav a.active{
    background-color: #174C4F;
    color: white;
} 

.question-color{
    color: yellow;
}

.two-column-new {
    float:left; 
    width: 50%;
    margin-left: 10px;
    margin-right: 10px;
    /* padding: 30px 30px; */
}